//Template Colors
//Можно добавлять цвета из темы
$main-color-text: #000000;


//Template breakpoints
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;


//Template Fonts for BODY
$main-fonts: "Open-Sans", "Arial", sans-serif;
$sec-fonts: "RotondaC", "Arial", sans-serif;
$main-font-size: 17px;
$main-font-weight: 500;
